html, body
{
  font-size:    1em;
  font-family:  sans-serif;
  color:        #000000;
}

a
{
  text-decoration: none;
  color:           #0000ff;
}

a:hover
{
  text-decoration: underline;
}

div#title
{
  padding: 0.5em 1.5em;
  color: #a000ff;
  font-size: 320%;
  font-weight: bold;
}

div#footer
{
  font-size: 80%;
}

body.tutorial div#footer
{
  text-align: center;
}

div.step
{
  margin: 1em;
  padding: 0.5em;
  border: #888 dashed 2px;
}

div.step div
{
  margin: 1em;
}

div.terminal
{
  background-color: black;
  padding: 0.2em 0.5em;
}

div.terminal div
{
  color: white;
  font-family: monospace;
  white-space: pre-line;
  margin: 0;
  padding: 0.3em 0;
  border-top: 1px gray dashed;
}

div.terminal div:first-child { border-top: 0; }

div.terminal div.hilight
{
  font-weight: bold;
  background-color: #444;
}

span.ls_dir { color: blue; }
span.ls_txt { color: green; }
span.ls_img { color: purple; }
